html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: aliceblue;
  padding: 20%;
  gap: 10px;
}

form input {
  margin-left: 20px;
}

button {
  border-radius: 10px;
  margin-top: 10px;
}
.error {
  color: red;
  background-color: palegreen;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.submittedData {
  background-color: #eee6e6;
  width: 500px;
}
